<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "snippets/styles.html" %}
    {% block gaya %}
    
    {% endblock gaya%}
    <title>{{title}}</title>
</head>
<body>
{% include "snippets/nav.html" %}
{% block satu %}

<div class="content bg-dark">
    <div class="container-fluid ">
      <div class="card card-info">
        <div class="card-header text-center">
          <h2> Kelompok 8 - SPK LAPTOP Metode SAW</h2>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <!-- Profile Image -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <div class="card-tools">
                    <!-- Maximize Button -->
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                  </div>
                  <!-- /.card-tools -->
                </div>
                <div class="card-body box-profile">
                  <h4 class="profile-username text-center">Laela Tri Wulandari</h4>
                  <div class="text-center">
                    <img class="rounded" src="https://i.ibb.co/tpz0rRC/lalaaak.jpg" alt="User profile picture" width="250" height="250">
                  </div>

                  <p class="text-muted text-center">NIM 202103007</p>

                  <ul class="list-group list-group-unbordered mb-3">
                    <a href="https://www.linkedin.com/in/laelawww-a8a65122a/">
                      <li class="list-group-item">
                        <b>LinkedIn</b> <i class="fab fa-linkedin float-right"></i>
                      </li>
                    </a>
                    <a href="https://instagram.com/its.laaatrw">
                      <li class="list-group-item">
                        <b>Instagram</b> <i class="fab fa-github float-right" style="color: #07010e;"></i>
                      </li>
                    </a>
                  </ul>

                  <a href="https://wa.me/6285806848911" class="btn btn-success btn-block"><i class="fab fa-whatsapp fa-spin" aria-hidden="true"></i> <b>chat</b></a>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

            <div class="col-4">
              <!-- Profile Image -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <div class="card-tools">
                    <!-- Maximize Button -->
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                  </div>
                  <!-- /.card-tools -->
                </div>
                <div class="card-body box-profile">
                  <h4 class="profile-username text-center">Latifah Arum S</h4>
                  <div class="text-center">
                    <img class="rounded" src="https://i.ibb.co/92LZ9yY/latifahs.jpg" alt="User profile picture" width="250" height="250">
                  </div>

                  <p class="text-muted text-center">NIM 202103008</p>

                  <ul class="list-group list-group-unbordered mb-3">
                    <a href="https://www.linkedin.com/in/latifaharums/">
                      <li class="list-group-item">
                        <b>LinkedIn</b> <i class="fab fa-linkedin float-right"></i>
                      </li>
                    </a>
                    <a href="https://instagram.com/latifaharums">
                      <li class="list-group-item">
                        <b>Instagram</b> <i class="fab fa-github float-right" style="color: #07010e;"></i>
                      </li>
                    </a>
                  </ul>

                  <a href="https://wa.me/6285806848911" class="btn btn-success btn-block"><i class="fab fa-whatsapp fa-spin" aria-hidden="true"></i> <b>chat</b></a>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

            <div class="col-4">
              <!-- Profile Image -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <div class="card-tools">
                    <!-- Maximize Button -->
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                  </div>
                  <!-- /.card-tools -->
                </div>
                <div class="card-body box-profile">
                  <h4 class="profile-username text-center">Julien Kristin FK</h4>
                  <div class="text-center">
                    <img class="rounded" src="https://i.ibb.co/h70PSHW/julienn.jpg" alt="User profile picture" width="250" height="250">
                  </div>

                  <p class="text-muted text-center">NIM 202103032</p>

                  <ul class="list-group list-group-unbordered mb-3">
                    <a href="https://www.linkedin.com/in/julien-kristin/">
                      <li class="list-group-item">
                        <b>LinkedIn</b> <i class="fab fa-linkedin float-right"></i>
                      </li>
                    </a>
                    <a href="https://instagram.com/julienkristin99">
                      <li class="list-group-item">
                        <b>Instagram</b> <i class="fab fa-github float-right" style="color: #07010e;"></i>
                      </li>
                    </a>
                  </ul>

                  <a href="https://wa.me/6285806848911" class="btn btn-success btn-block"><i class="fab fa-whatsapp fa-spin" aria-hidden="true"></i> <b>chat</b></a>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

            </div>
            <!-- /.row -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock satu %}

{% include "snippets/script.html" %}
</body>
</html>